#page {
    width: 100vw;
    height: 150vh;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 200px 1fr 150px;
}   


/* header titles*/
h1,
h2 {
    color: #F9F6EF;
}

p {
    color: #F9F6EF;
}

a {
    color: #093545;
}

/* empty rows designs */
.row1-col1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 100%;
    background-image: linear-gradient(to top, #093545, #20DF7F);
    /* border-bottom-style: solid;
    border-color: #B6CBE1; */

}

.row2-col1 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width: 100%;
    /* background-image: linear-gradient(#093545, #224957); */
    opacity: 0.5;
}

.row2-col3 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    width: 100%;
    /* background-image: linear-gradient(#093545, #224957); */
} 

/* header */
.header {
    grid-row: 1;
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:  20px 0px;
    background-image: linear-gradient(to top, #093545, #20DF7F);
    /* border-bottom-style: solid; */
    /* border-bottom-width: 20px; */ 
     /* border-color: #B6CBE1; */
}

.header > h1 {
    font-weight: 100;
}

/* navigation section */
.navigation-bar {
    grid-column: 3 / 4;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-image: linear-gradient(to top, #093545, #20DF7F);
    /* border-bottom-style: solid;
    border-color: #B6CBE1; */
}

.navigation-bar > a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px;
    border-style: solid;
    border-color: #F9F6EF;
    width: 10ch;
    height: 5ch;
    background-color: #F9F6EF;    
    color: #224957;
    opacity: 0.7;
    text-align: center;
}

.navigation-bar > a:hover {
    cursor: pointer;
    opacity: 1.0;
    transition: transform 0.5s;
    transform: translateY(-2px);
}

/* main */
.main-content {
    grid-column: 2 / 3;
    background-image: linear-gradient(#093545, #20DF7F);
    border-radius: 10px;
    /* height: fit-content; */
    margin: 5px 5px;
    padding-bottom:20px ;
}

.main-content > h2 {
    font-weight: 100;
    font-size: 3.5rem;
    text-align: center;
    padding: 5px 0;
}

/* sessions div */
.sessions-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

/* session card */
.session-card {
    width: 90%;
    margin: 0px auto 10px;
    background-color: #224957;
    /* background-image: linear-gradient(to right, #224957, #F9F6EF);  */
    border-radius: 10px;
}

.session-card-header {
    display: flex;
    justify-content: center;
}

.session-card-header > h2 {
    font-weight: 100;
    font-size: 3.5rem;
}
.session-card-body > p {
    width: 96%;
    margin: 10px auto;
}

.session-time  > p {
    width: 96%;
    margin: 10px auto;
}
/* card edit buttons */
.session-card-buttons {
    margin: 10px 13px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.session-card-buttons > button {
    padding: 10px 20px;
    border-radius: 50px;
    border-style: solid;
    border-color: #20DF7F;
    width: 20ch;
    height: 5ch;
    background-color: #20DF7F;    
    color: #F9F6EF;
    opacity: 0.7;
    text-align: center;
}

.session-card-buttons > button:hover {
    cursor: pointer;
    opacity: 1.0;
    transition: transform 0.5s;
    transform: translateY(-2px);
}

/* add session button */
.add-button {
    display: flex;
    justify-content: center;
}
.add-button > button {
    padding: 10px 20px;
    border-radius: 50px;
    border-style: solid;
    border-color: #20DF7F;
    width: 20ch;
    height: 5ch;
    background-color: #20DF7F;    
    color: #F9F6EF;
    opacity: 0.7;
    text-align: center;
}

.add-button > button:hover {
    cursor: pointer;
    opacity: 1.0;
    transition: transform 0.5s;
    transform: translateY(-2px);
}
/* footer */
.footer {
    grid-row: 3;
    grid-column: 1 / 4;
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(to top, #093545, #20DF7F);
}

.footer > a {
    text-decoration: none;
    padding: 10px 20px;
    margin: 45px 0px;
    border-radius: 50px;
    border-style: solid;
    border-color: #F9F6EF;
    width: 15ch;
    height: 5ch;
    background-color: #F9F6EF;    
    color: #002522;
    opacity: 0.7;
    text-align: center;
}

.footer > a:hover {
    cursor: pointer;
    opacity: 1.0;
    transition: transform 0.5s;
    transform: translateY(-2px);
}
