#page {
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.75fr;
    grid-template-rows: 500px 1fr 150px;
}   

.content {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    background-color: #224957;
    margin: 1px;
    border-radius: 5px;
}

/* title */
.title {
    padding-top: 15px;
    text-align: center;
}

/* About confplus conference */
.title {
    padding: 50px 80px 25px;
}

/* intro text */
.intro > p {
    word-wrap: break-word;
}   

.intro {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

/* aside */
.sessions-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background-color: #224957;
    margin: 1px 1px;
}

/* filtering title section */
.upcoming-sessions > p {
    font-size: 28.8px;
}

.upcoming-sessions {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

/* date selector */
.filter {
    display: flex;
    justify-content: center;
}

/* available sessions view */
.available-sessions {
    width: 95%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

/* session card */
.session-card {
    width: 90%;
    margin: 0px auto 10px;
    background-color: #a60a0a;
    /* background-image: linear-gradient(to right, #224957, #F9F6EF);  */
    border-radius: 10px;
}

.session-card-header {
    display: flex;
    justify-content: center;
}

.session-card-header > h2 {
    font-weight: 100;
    font-size: 3.5rem;
}
.session-card-body > p {
    width: 96%;
    margin: 10px auto;
}
