#page {
    min-height: 150vh;
    display: grid;
    grid-template-columns: 0.5fr 2fr 1.5fr;
    grid-template-rows: 200px 1fr 150px;
    gap: 1.5rem;
}
/* main content */
.content {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    background-color: #F9F6EF;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-color: #725446;
    border-style: solid;
}

/* About Us div */
.intro-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}
.title > h2 {
    font-weight: strong;
    margin-bottom: 4rem;
}
/* intro text */
.intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro > p {
    word-wrap: break-word;
    width: 60ch;
}   

/* aside */
.sessions-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background-color: #F9F6EF;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* filtering title section */
.upcoming-sessions > p {
    font-size: 37.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upcoming-sessions {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

/* date selector */
.filter {
    display: flex;
    justify-content: center;
}

#dates {
    width: 35ch;
    height: 6ch;
    border-radius: 5px;
}

/* available sessions view */
.available-sessions {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 2rem;
}

.available-sessions > h2 {
    text-align: center;
    font-weight: 100;
}
/* session card */
.session-card {
    width: 100%;
    margin: 0px auto 10px;
    background-color: #F9F6EF;
    border-radius: 10px;
    border-color: #725446;
    border-style: solid;
}

.session-card-header {
    display: flex;
    justify-content: center;
}

.session-card-header > h2 {
    font-weight: 100;
    font-size: 3.5rem;
    margin: 2rem 0;
}
.session-card-body > p {
    width: 30ch;
    word-wrap: break-word;
    /* font-size: 1.5rem; */
    margin: 1.5rem 2rem; 
}

.session-time  > p {
    margin: 1.5rem 2rem;
}

@media screen and (max-width: 950px) {    
    body {
        line-height: 1.8;  
        font-size: 1.3rem;
    }
    
    #page {
        /* display: none; */
        min-height: 150vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 1fr;

    }

    .content {
        display: none;
    }
    .header {
        grid-row: 1;
        grid-column: 1 / 2;
        width: 100%;
    }

    .navigation-bar {
        grid-row: 2;
        grid-column: 1 / 2;
    }

    .navigation-bar > a {
        width: 15ch;
        height: 7ch;
        text-align: center;
    }

    .content {
        display: none;
    }

    .sessions-view {
        grid-row: 3;
        grid-column: 1 / 2;
    }

}