/* page layout */
#page {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 200px 1fr 150px;
}   
 
 /* main-content */
.main-content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-image: linear-gradient(#093545, #20DF7F);
    border-radius: 10px;
    margin: 1px 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: #224957 0px 0px 0px 2px, #093545 0px 4px 6px -1px, #224957 0px 1px 0px inset;     */
}

.main-content > h2, .main-content > h4 {
    font-weight: 100;
    color: white;
}

.main-content > h2 {
    font-size: 5.5rem;
}
/* login form styles */
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    
}
/* input fields */
.form-group > input {
    height: 6ch;
    width: 35ch;
    border-radius: 10px;
    border-style: solid;
    border-color: #224957;
    padding: 10px 7px;
    background-color: #093545;
    text-align: center;
}
/* inner input text */
::placeholder {
    color: white;
    font-size: 1.7rem;
    opacity: 0.7;
}

/* login button */
.login-form > button {
    color: white;
    margin-top: 7px;
    width: 35ch;
    height: 5ch;
    border-radius: 10px;
    border-style: none;
    background-color: #20DF7F;
    opacity: 0.7;
}

.login-form > button:hover {
    cursor: pointer;
    transition: transform 0.5s;
    transform: translateY(-2px);
    opacity: 1.0;
}
