/* page layout */
#page {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 200px 1fr 150px;
}   

/* main-content */
.main-content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: #F9F6EF;
    border-radius: 10px;
    margin: 1px 1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.header > h1 {
    display: none;
}
.main-content > h2 {
    background: linear-gradient(to right, #725446, #949983);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-content > h2 {
    margin-top: 5rem;
}

.main-content > h4 {
    margin-top: 6rem;
    margin-bottom: 1.5rem;
}
.main-content > h2, .main-content > h4 {
    font-weight: 100;
    color: #725446;
}

.main-content > h2 {
    font-size: 5.5rem;
}
/* login form styles */
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    
}
/* input fields */
.form-group > input {
    height: 6ch;
    width: 35ch;
    border-radius: 10px;
    border-style: solid;
    border-color: #1A1D24;
    padding: 10px 7px;
    background-color: #1A1D24;
    text-align: center;
    opacity: 0.3;

}

.form-group > input:focus {
    border-color: #725446;
}
/* inner input text */
::placeholder {
    color: #F9F6EF;
    font-size: 1.7rem;
    opacity: 0.7;
}

/* login button */
.login-form > button {
    color: #F9F6EF;
    margin-top: 7px;
    width: 35ch;
    height: 5ch;
    border-radius: 10px;
    border-style: none;
    background-color: #1A1D24;
    opacity: 0.7;
}

.login-form > button:hover {
    cursor: pointer;
    transition: transform 0.5s;
    transform: translateY(-2px);
    /* background-color: #725446; */
    opacity: 1.0;
}
