/* page size */
#page {
    min-height: 160vh;
}
/* form */ 
.paperForm {
    grid-row: 2;
    grid-column: 2 / 3;
    background-color: #F9F6EF;
    border-radius: 10px;
    margin: 1px 1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/* input fields */
input {
    width: 35ch;
    height: 6ch;
    border-radius: 5px;
    margin: 10px 25px;
    color: #F9F6EF;
    border-style: none;
    background-color: #725446;
    opacity: 0.8;
}

textarea {
    border-style: none;
    color: #F9F6EF;
    background-color: #725446;
    opacity: 0.8;
}
select {
    width: 35ch;
    height: 6ch;
    border-radius: 5px;
    border-style: none;
}    

button {
    color: #F9F6EF;
    margin-top: 7px;
    width: 35ch;
    height: 5ch;
    border-radius: 10px;
    border-style: none;
    background-color: #1A1D24;
    opacity: 0.7;
}

button:hover {
    cursor: pointer;
    transition: transform 0.5s;
    transform: translateY(-2px);
    opacity: 1.0;
}

label {
    color: #725446;
}

.title {
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title > h1 {
    font-weight: 100;
    margin-top: 1rem;
}

/* paper details */
.input-fields {
    margin: 0 25px;
}

::placeholder {
    text-align: center;
    font-family: "Inter", sans-serif;
    line-height: 1.8;  
    font-size: 1.5rem;
    color: #F9F6EF;
}


.paper-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paper-info > h2 {
    font-weight: 100;
}


.paper-info > textarea {
    width: 50ch;
    height: 15ch;
    border-radius: 5px;
    margin: 10px 25px;

}

.paper-info > textarea::placeholder {
    padding: 40px;
}
/* author information */
.authors-personal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authors-personal-info > h2 {
    font-weight: 100;
}

.affiliation-presenter-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    gap: 25px;
}
/* add author button */
.add-button {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
/* remove author section */
.remove-author2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.remove-button {
    text-align: center;
    margin: 10px 0;
}

/* upload file button */
.paper-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}
/* choose file button */
#paper_pdf {
    width: 25%;
    margin: 10px auto;
    border-style: none;
    background-color: #F9F6EF;
}

/* submit button */
.submit-button {
    display: flex;
    justify-content: center;
    margin: 4rem;
}

.submit-button > input {
    color: #F9F6EF;
    margin-top: 7px;
    width: 35ch;
    height: 5ch;
    border-radius: 10px;
    border-style: none;
    background-color: #1A1D24;
    opacity: 0.7;
}

.submit-button > input:hover {
    cursor: pointer;
    transition: transform 0.5s;
    transform: translateY(-2px);
    opacity: 1.0;
}
/* clear button */
.clear-button {
    display: flex;
    width: 100%;
    justify-content: center;
}

.clear-button > button {
    width: 10ch;
    height: 5ch;
}



