/* main page content */
.main-content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-image: linear-gradient(#093545, #20DF7F);
    border-radius: 10px;
    height: 100%;
    margin: 1px 5px;
}

.main-content > h2 {
    font-weight: 100;
    font-size: 3.5rem;
    text-align: center;
    padding: 5px 0;
}

/* update session form */
.update-session-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    width: 90%;
    margin: 60px auto;
}

label {
    font-family: DM Sans;
    color: #F9F6EF;
}

/* dropdown lists */
.update-session-form > div > select {
    width: 30ch;
    height: 5ch;
    border-radius: 10px;
    margin: 0 auto;
}

/* from-time and to-time */
.update-session-form > div > input[type="time"] {
    width: 30ch;
    height: 5ch;
    border-radius: 10px;
    margin: 0 auto;
    border-style: solid;
}

/* update and clear buttons */
.edit-btns {
    margin: 10px 13px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.edit-btns > button {
    padding: 10px 20px;
    border-radius: 50px;
    border-style: solid;
    border-color: #20DF7F;
    width: 20ch;
    height: 5ch;
    background-color: #20DF7F;    
    color: #F9F6EF;
    opacity: 0.7;
    text-align: center;
}

.edit-btns > button:hover {
    cursor: pointer;
    opacity: 1.0;
    transition: transform 0.5s;
    transform: translateY(-2px);
}

.footer {
    margin-top: 2px;
}
