/* page layout */
#page {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 2fr 0.5fr;
    background-color: #093545;
}

/* header */
.header {
    grid-row: 1;
    grid-column: 1/4;
    text-align: center;
    padding: 20px 0px;
}

h1, h2 {
    font-weight: 100;
}
/* navigation bar (sign in) */
.navigation-bar {
    grid-row: 1;
    grid-column: 3;
    justify-self: center;
    padding: 37px 0px;
}

.navigation-bar > a {
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #20DF7F;

}

/* .navigation-bar > a:hover {
    transition: transform 0.5s;
    transform: translateY(-2px);
} */

.content {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    background-color: #224957;
}

/* title */
.title {
    padding-top: 15px;
    text-align: center;
}

/* About confplus conference */
.title {
    padding: 50px 80px 25px;
}

/* intro text */
.intro > p {
    word-wrap: break-word;
}   

.intro {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

/* aside */
.sessions-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background-color: #224957;
}

/* filtering title section */
.upcoming-sessions > p {
    font-size: 28.8px;
}

.upcoming-sessions {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

/* date selector */
.filter {
    display: flex;
    justify-content: center;
}

/* available sessions view */
.available-sessions {
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: #093545;
    border-radius: 10px;
    margin-bottom: 10px;
}

.session {
    margin: 10px auto;
    width: 95%;
    height: fit-content;
    background-color: #224957;
    border-radius: 10px;
    text-align: left;
    word-wrap: break-word;
}

.session > p {
    padding: 10px;
}

/* footer */
.footer {
    padding-top: 20px;
    grid-column: 1 / 4;
    display: flex;
    justify-content: space-evenly;
}

.footer > a {
    text-decoration: none;
}